export ENV=""
export GCP_PROJECT_ID=""
export NGROK_AUTHTOKEN=""
export LINE_CHANNEL_ACCESS_TOKEN=""
export LINE_CHANNEL_SECRET=""
export OPENAI_API_KEY=""
export PINECONE_API_KEY=""
export PINECONE_INDEX=""
export PINECONE_ENV=""
